.a-button {
  $root: &;
  @include reset-button();
  @include adjust-flex();
  border-radius: rem(100);
  box-shadow: 0 2px 0 $black0016;
  font: inherit;
  margin: 0;
  overflow: hidden;
  padding: rem(5) rem(11);
  position: relative;
  transition: all $transition linear;
  width: 100%;
  border: 1px solid transparent;
  @include font-base(16, 24);

  @include mobile-down {
    @include font-base(14, 22);
  }

  &:hover {
    opacity: 0.75;
  }

  &-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: $white;
  }

  &-secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: $white;
  }

  &-outlinePrimary {
    border: 1px solid var(--primary-color);
    box-shadow: 0 2px 0 rgba(var(--primary-color), 0.016);
    color: var(--text-color);
    @include font-base(16, 24);

    @include mobile-down {
      @include font-base(14, 22);
    }
  }

  &-outline {
    background-color: $white;
    border: 1px solid $gainsboro;
    box-shadow: 0 2px 0 $black0016;
    color: $black085;

    &:hover {
      background-color: $white_smoke;
    }
  }

  &-transparent {
    background: transparent;
    color: var(--text-color);
    white-space: nowrap;
    border-radius: 0;

    &-active,
    &:hover {
      background: $white01;
    }
  }

  &-icon {
    border-radius: rem(40);
    padding: rem(5);
    white-space: nowrap;

    &-active,
    &:hover {
      background: linear-gradient(180deg, $white -266.46%, transparent 279.88%);
      border: 1px solid $white06;
    }
  }

  &-round {
    padding: rem(5);
  }

  &:disabled,
  &-loading {
    cursor: not-allowed;
    opacity: 0.5;
    &#{$root}-primary {
      background-color: rgba(var(--primary-color), 0.5);
      border-color: rgba(var(--primary-color), 0.5);
      color: $white;
    }

    &#{$root}-secondary {
      background-color: rgba($white, 0.5);
      border-color: rgba($white, 0.5);
      color: var(--primary-color);
    }

    &#{$root}-outline {
      background-color: rgba(var(--primary-color), 0.2);
      border-color: rgba(var(--primary-color), 0.2);
    }
  }

  &-lg {
    padding: rem(7) rem(15);
    @include font-base(16, 24);

    @include mobile-down {
      @include font-base(14, 22);
    }
  }

  &-inline {
    width: unset;
  }

  //   @include style-font-family();
  @include style-color();
  @include style-font-weight();
  @include style-general();
}
