.a-icon {
  display: block;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;

  &-12 {
    height: rem(12);
    width: rem(12);
  }

  &-16 {
    height: rem(16);
    width: rem(16);
  }

  &-20 {
    height: rem(20);
    width: rem(20);
  }

  &-24 {
    height: rem(24);
    width: rem(24);
  }

  &-38 {
    height: rem(38);
    width: rem(38);
  }

  &-34 {
    height: rem(34);
    width: rem(34);
  }

  background-color: var(--text-color);

  &-soap {
    background-color: $soap;
  }

  &-loading {
    -webkit-mask-image: url("../../../assets/icons/ic_loading.svg");
    mask-image: url("../../../assets/icons/ic_loading.svg");
  }

  &-search {
    -webkit-mask-image: url("../../../assets/icons/ic_search.svg");
    mask-image: url("../../../assets/icons/ic_search.svg");
  }

  &-arrowLeft {
    -webkit-mask-image: url("../../../assets/icons/ic_arrow_left.svg");
    mask-image: url("../../../assets/icons/ic_arrow_left.svg");
  }

  &-arrowRight {
    -webkit-mask-image: url("../../../assets/icons/ic_arrow_right.svg");
    mask-image: url("../../../assets/icons/ic_arrow_right.svg");
  }

  &-barcode {
    -webkit-mask-image: url("../../../assets/icons/ic_barcode.svg");
    mask-image: url("../../../assets/icons/ic_barcode.svg");
  }

  &-home {
    -webkit-mask-image: url("../../../assets/icons/ic_home.svg");
    mask-image: url("../../../assets/icons/ic_home.svg");
  }

  &-minimize {
    -webkit-mask-image: url("../../../assets/icons/ic_minimize.svg");
    mask-image: url("../../../assets/icons/ic_minimize.svg");
  }

  &-menu {
    -webkit-mask-image: url("../../../assets/icons/ic_menu.svg");
    mask-image: url("../../../assets/icons/ic_menu.svg");
  }

  &-warehouse {
    -webkit-mask-image: url("../../../assets/icons/ic_warehouse.svg");
    mask-image: url("../../../assets/icons/ic_warehouse.svg");
  }

  &-delete {
    -webkit-mask-image: url("../../../assets/icons/ic_delete.svg");
    mask-image: url("../../../assets/icons/ic_delete.svg");
  }

  &-close {
    -webkit-mask-image: url("../../../assets/icons/ic_close.svg");
    mask-image: url("../../../assets/icons/ic_close.svg");
  }

  &-packageImport {
    -webkit-mask-image: url("../../../assets/icons/ic_package_import.svg");
    mask-image: url("../../../assets/icons/ic_package_import.svg");
  }

  &-plus {
    -webkit-mask-image: url("../../../assets/icons/ic_plus.svg");
    mask-image: url("../../../assets/icons/ic_plus.svg");
  }

  &-customer {
    -webkit-mask-image: url("../../../assets/icons/ic_customer.svg");
    mask-image: url("../../../assets/icons/ic_customer.svg");
  }

  &-receipt {
    -webkit-mask-image: url("../../../assets/icons/ic_receipt.svg");
    mask-image: url("../../../assets/icons/ic_receipt.svg");
  }

  &-edit {
    -webkit-mask-image: url("../../../assets/icons/ic_edit.svg");
    mask-image: url("../../../assets/icons/ic_edit.svg");
  }
}
