// Primary Colors
$violet_blue: rgb(70, 63, 166); //#463fa6
$iris: rgb(82, 73, 186); //#5249ba
$purple-heart: rgb(110, 60, 163); //#6e3ca3
$royal-purple: rgb(126, 68, 185); //#7e44b9
$sangria: rgb(142, 0, 15); //#8e000f
$carmine: rgb(158, 0, 16); //##9e0010

// Text Colors
$raisin_black: rgb(38, 38, 38); // #262626

// Palette Colors
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$jet: rgb(48, 48, 48); //#303030
$baby_powder: rgb(253, 253, 253); //#fdfdfd
$soap: rgb(199, 199, 234); //#c7c7ea

// Others
$gainsboro: rgb(217, 217, 217); //#d9d9d9
$white_smoke: rgb(245, 245, 245); // #f5f5f5
$sinopia: rgb(206, 49, 0); // #ce3100
$taupe_gray: rgb(140, 140, 140); //#8c8c8c
$snow: rgb(250, 250, 250); // #fafafa

// Overlays
$black0016: rgba($black, 0.016);
$black085: rgba($black, 0.85);
$white01: rgba($white, 0.1);
$white02: rgba($white, 0.2);
$white04: rgba($white, 0.4);
$white06: rgba($white, 0.6);
$white08: rgba($white, 0.8);

// Alphas
$violet_blue-alpha: 70, 63, 166; //#463fa6
$iris-alpha: 82, 73, 186; //#5249ba
