[data-theme="light"] {
  --primary-color: #{$violet_blue};
  --primary-color-alpha: #{$violet_blue-alpha};
  --secondary-color: #{$sangria};
  --tertiary-color: #{$royal-purple};
  --text-color: #{$raisin_black};
  --background-color: #{$baby_powder};
  --menu-icon-color: #{$dark_orchid};
}

[data-theme="dark"] {
  --primary-color: #{$iris};
  --primary-color-alpha: #{$iris-alpha};
  --secondary-color: #{$carmine};
  --tertiary-color: #{$amethyst};
  --text-color: #{$baby_powder};
  --background-color: #{$jet};
  --menu-icon-color: #{$bright_lilac};
}

html,
body {
  font-family: $font-sans;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; //issue click in mobile flash background highligh
}

button {
  &:focus {
    outline: none;
  }
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}

[role="button"],
button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input {
  word-break: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
